*{
box-sizing: border-box;
}
body {
color: #878787;
margin: 0;
font-family: sans-serif;
text-align: center;
}
h1 {
font-size: 75px;
color: white;
text-transform: uppercase;
font-weight: normal;
}
h2 {
   color: white;
}
img {
width: 100%;
}
.img1 {
border:5px dotted black;
}
.img3 {
border:5px double black;
}
}
.img2 {
border:5px solid black;
}
.nav-bar {
list-style-type: none;
margin: 0;
}
.nav-bar-list {
float: left;
padding-top: 10px;
}
.nav-bar-link {
color: white;
font-size: 24px;
padding: 20px;
text-decoration: none;
}
.main-header {
padding-top: 200px;
height: 850px;
background: url("imgs/fall.jpg") no-repeat center;
background-size: cover;
}
.title {
color: white;
font-size: 1.5em;
}
.intro {
font-size: 1.25em;
line-height: 1.5em;
width: 50%;
margin: auto;
padding: 40px;
}
.box {
width: 80%;
margin: auto;
display: flex;
}
.card {
width: 100%;
padding: 20px;
text-align: left;
}
.footer {
font-weight: bold;
color: black;
}