* {
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	body {
		margin: 0;
		font-family: sans-serif;
		text-align: center;
		background-image: url("imgs/sky.jpg");
		background-size: cover;
		height: 100%;
	}
	.htmlcontact {
		height: 100%;
		margin: 0;
	}
	.nav-bar {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 35%;
		float: left;
		justify-content: space-between;
	}
	.nav-bar>li {
		margin-bottom: 3px;
		overflow: hidden;
		text-align: center;
	}
	.nav-bar-list {
		background-color: lightgrey;
		background-position: center;
		width: 300%;
		justify-content: space-between;
	}
	.box {
		display: flex;
		flex-direction: column;
		margin: auto;
		padding: 0;
	}
	.contactcard {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	.indexcard {
		display: flex;
		flex-direction: column;
		margin-left: 7%;
	}
	.main-header {
		text-align: center;
		padding-top: 200px;
		height: 850px;
		background: url("imgs/valley.jpg") no-repeat center;
		background-size: cover;
	}
	.main-headerexploreh2 {
		padding-top: 45%;
	}
	.contacth1 {
		padding-top: 5%;
	}
	.contacth2 {
		padding-bottom: 5%;
	}
	.intro {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.contactimg1 {
		margin: auto;
	}
	h1 {
		height: 25%;
		font-size: 5vw;
	}
	h2 {
		height: 25%;
	}
}

body {
	margin: 0;
	font-family: sans-serif;
	text-align: center;
	background-image: url("imgs/sky.jpg");
	background-size: cover;
	height: 100%;
}
.htmlcontact {
	min-height: 100%;
	margin: 0;
}

h1 {
	font-size: 75px;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	color: white;
	padding-top: 15px;
}

img {
	width: 100%;
}

.indeximg1 {
	border: 5px double black;
	width: 82%;
	height: auto;
}

.indeximg2 {
	border: 5px double black;
	width: 91%;
	height: auto;
}

.indeximg3 {
	border: 5px double black;
	width: 77%;
	height: auto;
}

.exploreimg1 {
	border: 5px inset black;
	width: 89.5%;
}

.exploreimg2 {
	border: 5px inset black;
}

.contactimg1 {
	border: 5px inset black;
	width: 89.5%;
	margin-left: 5%;
}

.nav-bar {
	list-style-type: none;
	margin: 0;
}

.nav-bar-list {
	float: left;
	padding-top: 10px;
}

.nav-bar-link {
	color: black;
	font-size: 24px;
	padding: 20px;
	text-decoration: none;
}

.main-header {
	padding-top: 200px;
	height: 850px;
	background: url("imgs/valley.jpg") no-repeat center;
	background-size: cover;
}

.main-headerexplore {
	padding-top: 200px;
	height: 850px;
	background: url("imgs/mtwashington.jpg") no-repeat center;
	background-size: cover;
	color: white;
}

.main-headercontact {
	padding-top: 50px;
	height: 300px;
	background: url("imgs/clouds.jpg") no-repeat center;
	background-size: cover;
	color: white;
	text-align: center;
	vertical-align: center;
}

.title {
	color: white;
	font-size: 1.5em;
}

.intro {
	font-size: 1.25em;
	line-height: 1.5em;
	width: 50%;
	margin: auto;
	padding: 40px;
}

.box {
	width: 80%;
	margin: auto;
	display: flex;
}

.indexcard {
	width: 100%;
	padding: 20px;
	text-align: left;
}

.explorecard {
	width: 100%;
	padding: 20px;
	text-align: left;
	background-color: white;
	border-radius: 30px;
	box-shadow: 25px 25px grey;
	text-decoration: none
}

.contactcard {
	width: 60%;
	padding: 10px;
	text-align: left;
	background-color: white;
	border-radius: 30px;
	box-shadow: 25px 25px grey;
	text-decoration: none;
	margin-left: 20%;
}

.footer {
	font-weight: bold;
	color: black;
	padding-top: 10px;
}

.fontawesome {
	font-size: 200%;
}